<%-include('partials/header') %>
<link rel="stylesheet" href="/css/admin.css">
</head>
<body class="vh-100">
<%-include('partials/navbar') %>


<div class="row">
    <div class="col">
        <h1 class="text-center">Artículos Nuevos</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mx-auto">
        <form action="" id="nuevo-form">
            <div class="mb-3">
                <input type="text" placeholder="Nombre del Artículo" id="titulo" class="form-control">
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Comentarios" id="detalle"></textarea>
                <label for="floatingTextarea">Descripcion Artículo</label>
            </div>
            <div class="mb-3">
                <input type="text" placeholder="Imagen Artículo" id="url_imagen" class="form-control">
            </div>
            <div class="mb-3">
                <input type="date" placeholder="Fecha" class="form-control" id="fecha_publicacion">
            </div>
            <div class="mb-3">
                <input type="text" placeholder="Nombre Vendedor" class="form-control" id="autor">
            </div>
            <button type="submit" class="btn btn-primary btn-lg boton">
                Grabar Artículo 
            </button>
        </form>
    </div>
</div>


<script src="/js/admin.js" type="module"></script>

<%-include('partials/footer') %>