<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9' crossorigin='anonymous'>
    <title>EJS template Engine</title>
</head>
<body>
    <h1>Renderizando EJS</h1>
    <div class="container">
        <!-- SSC -->
        <div class="row">
            <div class="col">
                <table class="table table-stripped">
                    <thead>
                        <tr>
                            <th>
                                Username
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Lastname
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(function(user) {%>
                            <tr>
                                <td><%= user.username %></td>
                                <td><%= user.name     %></td>
                                <td><%= user.lastname %></td>
                            </tr>
                        <%})%>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <button class="btn btn-primary btn-sm btn-get-users">
        Obtener Datos
    </button>
    <div class="container">
        <!-- CSR -->
        <div class="row">
            <div class="col">
                <div class="col">
                    <table class="table bg-dark table-stripped">
                        <thead>
                            <tr>
                                <th>
                                    Username
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Lastname
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tabla-usuarios">
                            
                        </tbody>

                    </table>
            </div>
        </div>
    </div>
    
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm' crossorigin='anonymous'></script>
    <script src="/js/home.js"></script>
</body>
</html>