/* body{
    background-color: cadetblue;
} */
.icono{
    margin-right:5px;
}

/* #listado-publicaciones{
    border: 1px solid black;
} */

.cuadro{
    border: 1px solid black;
}
footer{
    margin-top: 10px;
}